* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-family-regular: 'Roboto-Regular', sans-serif;
@font-family-bold: 'Roboto-Bold', sans-serif;
@bg-color: #36384c;
@grey: #949494;
@blue-800: #242742;
@blue-700: #36384d;
@red: #ff6155;
@gradient-4: linear-gradient(
  90deg,
  rgba(255, 106, 58, 1) 0%,
  rgba(255, 93, 92, 1) 50%,
  rgba(255, 82, 123, 1) 100%
);

.text-preset-1,
.text-preset-1-mobile {
  font-family: @font-family-bold;
  line-height: 100%;
  letter-spacing: 0rem;
}

.text-preset-1 {
  font-size: 3.5rem;
}

.text-preset-1-mobile {
  font-size: 2.5rem;
}

.text-preset-2-bold,
.text-preset-2-regular {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0rem;
}
.text-preset-2-bold {
  font-family: @font-family-bold;
}

.text-preset-2-regular {
  font-family: @font-family-regular;
}

.text-preset-3-bold {
  font-size: 0.75rem;
  font-family: @font-family-bold;
  list-style: 150%;
  letter-spacing: 0rem;
}

.hidden {
  display: none !important;
}

.tablet,
.desktop {
  display: none;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: @font-family-regular;

  background-color: white;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.card {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 23.4rem;
}

.subs-card {
  > .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    // background-color: white;

    border-radius: 2.25rem;
    overflow: hidden;

    main {
      padding: 0 1rem 2.5rem 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 2.5rem;

      .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1.5rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 0.5rem;

        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          &::before {
            display: block;
            align-self: flex-start;

            content: '\f058';
            font-family: 'Font Awesome 7 Free';
            font-weight: bold;
            font-size: 1.5rem;
            color: @red;
          }
        }
      }

      #form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .email-container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
        }

        input {
          width: 100%;
          padding: 1rem 2rem;
          border: 1px solid @grey;
          border-radius: 0.5rem;
        }

        .error {
          border: 1px solid @red;
          background-color: #ffe7e6;
        }

        .error,
        .err-msg {
          color: @red;
        }
      }
    }
  }
}

.conf-card {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  background-color: white;

  padding: 0 1rem;

  > .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;

    grid-row: span 3;

    .img-banner {
      align-self: flex-start;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 2rem;

      .conf-email {
        font-weight: bold;
      }
    }
  }

  footer {
    width: 100%;
    align-self: flex-start;
    grid-row: 4/5;
  }
}

.btn {
  width: 100%;
  padding: 1rem;

  background-color: @blue-800;
  color: white;

  border: none;
  border-radius: 0.5rem;

  &:hover {
    background: @gradient-4;
    cursor: pointer;
  }
}

@media (min-width: 430px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }

  body {
    background-color: @bg-color;

    .card {
      margin: 0 2.5rem;

      max-width: none;

      border-radius: 0.5rem;
    }

    .subs-card {
      > .content-container {
        padding: 2.5rem;

        background-color: white;

        main {
          padding: 0;
          width: 100%;
        }
      }
    }

    .conf-card {
      padding: 4rem;
      max-width: 31.5rem;

      display: flex;
      gap: 2rem;
      flex-grow: 0;

      background-color: white;

      > .content-container {
        .img-banner {
          align-self: flex-start;
        }

        main {
          display: flex;
          flex-direction: column;
          justify-content: center;

          gap: 2rem;

          .conf-email {
            font-weight: bold;
          }
        }
      }

      footer {
        width: 100%;
        align-self: flex-start;
      }
    }
  }
}

@media (min-width: 1024px) {
  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }

  body {
    .subs-card {
      > .content-container {
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        .img-banner {
          grid-column: 2 / 3;
        }

        main {
          grid-row-start: 1;
        }
      }
    }
  }
}
